@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    font-family: "Fira Sans",sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border:0;
    outline: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    background: #ffffff;  /* fallback for old browsers */
}
a{
    text-emphasis: none;
    text-decoration: none;
    color: #333333;
}
ul , li{
    list-style: none;
}

#top_nav{
    display: block;
    color: #333333;
}
.top_nav_split{
    width: 50%;
    display: block;
    padding: 2% 4%;
    float: left;
    box-sizing: border-box;
}

@media(max-width: 500px) {
    .top_nav_split{
        width: 100%;
        float: none;
    }
}

.top_nav_split  .name{
    font-size: 3em;
    display: block;
    font-weight: 600;
}
.top_nav_split .top_nav_texts{
    font-size: 1em;
    display: block;
    padding: 1% 0;
    text-align: right;
}
.graytext{
    color: #555;
    margin-right: 10px;
    font-size: 0.8em;
}


#opt_nav{
    width: 100%;
    color: #333333;
    padding: 1% 4%;
    display: flex;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dfdfff;
}

#opt_nav > *{
    word-break: keep-all;
    display: inline-flex;
    padding: 2px 0;
    cursor: pointer;
    margin-right: 2%;
}

.active_tab{
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #44444444;
}
.nav_elem{
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-right: 2px;
}
/*#slideshow{*/
/*    padding: 10px;*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*.tab_window{*/
/*    width: 10px;    */
/*    height: 77vh;*/
/*    display: inline-block;*/
/*    !* border:1px dotted black; *!*/
/*    overflow: hidden;*/
/*    !* margin-right: 10px; *!*/
/*    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);*/
/*    opacity: 0;*/
/*}*/
/*.tab_title{*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    display: block;*/
/*    font-size: 0;*/
/*    color:#555;*/
/*    !* height: 1.7em; *!*/
/*}*/
/*.data_part{*/
/*    display: none;*/
/*    transition: 0ms ease-out 5ms ease-in;*/
/*    padding: 10px;*/
/*    width:100%;*/
/*    height: 100%;*/
/*}*/
/*.data_show_li{*/
/*    padding: 15px;*/
/*    font-size: 1em;*/
/*    border: 1px solid #77777711;*/
/*    border-left:1px solid #444;*/
/*    display: block;*/
/*    margin: 5px auto;*/
/*}*/


/*.shown_window{*/
/*    opacity: 1;*/
/*    width: calc(100vw - 60px) !important;*/
/*}*/
/*.shown_window > .tab_title{*/
/*    font-size: 1em;*/
/*}*/
/*.shown_window > .data_part{*/
/*    display: block;*/
/*}*/



/*.hidden{*/
/*    width:0 !important;*/
/*    height: 0 !important;*/
/*    display: none;*/
/*    opacity: 0;*/
/*}*/


/* recursive json data css */

.treeSpan{
    display: block;
    margin-bottom: 5px;
    padding: 1% 4%;
}
.treeLink{
    background-color: #dfdfff;
    padding: 5px 15px;
}
.treeLink:hover{
    background-color: #cfcfff;;
}
.treeDiv{
    display: block;
    padding: 2% 4%;
    margin-bottom: 5px;
}
.sectionTitle{
    display: block;
    padding: 1% 4%;
    font-size: 1.1em;
    background-color: #dfdfff;;
}