*{
    font-family: monospace;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border:0;
    outline: 0;
    font-size: 15px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color:#263238;
}
ul , li{
    list-style: none;
}

#top_nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #1976D2;
    color: white;
    padding: 10px;
    display: table;
}
#opt_nav{
    position: relative;
    left: 0;
    width: 100%;
    background: #1E88E5;
    color: white;
    padding: 10px;
    display: flex;
}
.nav_elem , .opt_nav_elem{
    display:inline-flex;
    padding: 7px;
    margin: 2px;
    user-select: none;
    cursor: pointer;
}



.active_tab{
    border-bottom: 2px solid #1565C0;
}
.nav_elem{
    background-color: #1565C0;
    border-radius: 2px;
    margin-right: 2px;
}
#slideshow{
    padding: 10px;
    position: relative;
    display: block;
    width: 100%;
}

.tab_title{
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 0;
    background: #1565C0;
    color:white;
    /* height: 1.7em; */
}
.tab_window{
    width: 10px;    
    height: 77vh;
    display: inline-block;
    /* border:1px dotted black; */
    overflow: hidden;
    /* margin-right: 10px; */
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 0 1px 0 #444;
    background-color: white;
    transform: scale(0.97);
    opacity: 0.8;
}
.data_part{
    display: none;
    transition: 0ms ease-out 5ms ease-in;
    padding: 10px;
    background-color:#eee;
    width:100%;
    height: 100%;
}
.data_show_li{
    padding: 15px;
    font-size: 1em;
    border: 1px dashed #1565C0;
    display: block;
    margin: 5px auto;
}


.shown_window{
    transform: scale(1);
    opacity: 1;
    width: calc(100vw - 60px) !important;
}
.shown_window > .tab_title{
    font-size: 1em;
}
.shown_window > .data_part{
    display: block;
}



.hidden{
    width:0 !important;
    height: 0 !important;
    display: none;
    opacity: 0;
}
